@use "./../../styles/_responsive.scss" as r;

.main-ver2 .cards {
  gap: 3.125vw;

  margin: 0 auto;
  margin-top: 5.556vh;

  width: 1520px;
  height: 400px;
  @include r.media-tablet {
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100%;
    height: 712px;

    margin-top: 45px;
  }
  @include r.media-mobile {
    margin-top: 0;
  }
}

.main-ver2 .cards .cards-arrow-wrap {
  width: 26px;

  @include r.media-tablet {
    rotate: 90deg;
  }
}

.main-ver2 .cards .cards-arrow {
  width: 26px;
  height: 80px;
}

.main-ver2 .cards .cards-arrow#left {
  transform: rotate(180deg);
}

.main-ver2 .cards-content-wrap {
  display: flex;
  justify-content: center;

  gap: 3.125vw; /* 50px */
  @include r.media-tablet {
    flex-direction: column;

    height: 100%;
  }
  @include r.media-mobile {
    height: fit-content;
  }
}
