@use "../../../styles/_responsive.scss" as r;

.review-write-div {
  width: 1180px;
  @include r.media-tablet {
    width: 668px;
  }
  @include r.media-mobile {
    width: 430px;
  }
}

.content {
  width: 630px;

  @include r.media-mobile {
    width: 430px;
  }
}

.content-img {
  @include r.media-desktop {
    width: 197px;
  }
  @include r.media-laptop {
    width: 197px;
  }
}

.content .reason {
  row-gap: 15px;
  column-gap: 20px;
  @include r.media-mobile {
    row-gap: 10px;
  }
}
