@use "./_mixins.scss" as m;
@use "./../../styles/responsive.scss" as r;

.on-off-btn {
  width: 195px;
  height: 48px;

  cursor: pointer;

  border: none;
  border-radius: 1.875rem;

  @include r.media-small-mobile {
    width: 135px;
    height: 44px;
  }
}

.on-off-btn#white {
  @include m.white-btn;

  border: 2.5px solid var(--Main, #6a39c0);
  background-color: var(--ect-white, #fff);
}

.on-off-btn#purple {
  @include m.purple-btn;

  border: none;
  cursor: pointer;
  background-color: var(--Main, #6a39c0);
}

.on-off-btn#purple:disabled {
  cursor: default;
  background-color: #dadada;
}
