.on-off-btn {
  width: 195px;
  height: 48px;

  cursor: pointer;

  border: none;
  border-radius: 1.875rem;
}

.on-off-btn#white {
  border: 2.5px solid var(--Main, #6a39c0);
  background-color: var(--ect-white, #fff);
}

.on-off-btn#purple {
  border: none;
  cursor: pointer;
  background-color: var(--Main, #6a39c0);
}

.on-off-btn:disabled {
  cursor: default;
  background-color: #dadada;
}
