@use "./_mixins.scss" as m;

.preview-purchase-btn {
  @include m.purple-btn;

  width: 81px;
  height: 24px;

  cursor: pointer;

  border: none;
  border-radius: 30px;
  background-color: var(--Main, #6a39c0);
}
