.small-on-off-btn {
  width: 135px;
  height: 40px;

  border-radius: 1.875rem;
}

.small-on-off-btn#white {
  border: 2.5px solid var(--Main, #6a39c0);
  background: var(--ect-white, #fff);
}

.small-on-off-btn#grey {
  border: none;
  background: #d9d9d9;
}

.small-on-off-btn#purple {
  border: none;
  cursor: pointer;
  background: var(--Main, #6a39c0);
}

.small-on-off-btn#purple:disabled {
  cursor: default;
  background-color: #dadada;
}
