@import "./mixins.scss";

.xs-bold-btn {
  width: 92px;
  height: 32px;

  box-sizing: border-box;
  border-radius: 50px;
}

.xs-bold-btn#white {
  @include white-btn;

  border: 2.5px solid var(--Main, #6a39c0);
  background: var(--ect-white, #fff);
}

.xs-bold-btn#grey {
  border: none;
  background: #d9d9d9;
}

.xs-bold-btn#purple {
  @include purple-btn;

  border: none;
  cursor: pointer;
  background: var(--Main, #6a39c0);
}

.xs-bold-btn#purple:disabled {
  cursor: default;
  background-color: #dadada;
}
