.__thumbnail-img {
  width: 12.3125rem;
  height: 12.3125rem;
  flex-shrink: 0;

  border-radius: 20px;
  border: 1px solid var(--grey-grey-6, #777);
  background: #FFFFFF;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
