.__thumbnail-img {
  width: 197px;
  height: 197px;
  flex-shrink: 0;

  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid var(--grey-grey-3, #e2e2e2);
  background: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
