@use "./../../../styles/_responsive.scss" as r;

.checkbox-container {
  padding-top: 1.75rem;
}

.checkbox-container .checkbox-item {
  margin-bottom: 10px;
}

.checkbox-container .checkbox-icon {
  margin-right: 0.31rem;

  width: 20px;
  height: 20px;
  @include r.media-small-mobile {
    width: 14px;
    height: 14px;
  }
}

.checkbox-container hr {
  margin: 0;
  margin-top: -2px;
  margin-bottom: 8px;

  border: 0.5px solid var(--purple8, #caabff);
}

.checkbox-container p#open {
  margin-left: 0.31rem;
}
