.list-thumbnail {
  cursor: pointer;
}

.list-thumbnail .description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin: 0.4rem 0;
}

.list-thumbnail .description p {
  overflow: hidden;
  text-overflow: ellipsis;
}
