.list-thumbnail {
  cursor: pointer;
}

.list-thumbnail .thumbnail-img {
  width: 12.3125rem;
  padding-bottom: 12.3125rem;

  border-radius: 20px;
  background: #d9d9d9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.list-thumbnail .description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin: 0.4rem 0;
  margin-left: 0.5vw;
}

.list-thumbnail .description h5 {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;

  /* Paragraph/Large/Bold */
  font-family: "Noto Sans KR";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 155.556% */
}

.list-thumbnail .description h5#author {
  font-size: 1rem;
  line-height: 1.5rem; /* 150% */
}

.list-thumbnail .price {
  margin-left: 0.25rem;
}
