/* 커스텀 flag on시 사용 */
.error-message-wrap {
  display: flex;
  justify-content: space-between;
}
.error-message-wrap p {
  margin: 0.75vh 0;
  color: var(--red, #ff3b3b);
  font-size: 12px;
  min-height: 20px;
}

.error-message-wrap p#validMessage {
  color: var(--green, #00c850);
}

.error-message-wrap p#resend {
  text-decoration: underline;
}
