.signUpSuccess .signUp-success-wrap {
  position: relative;

  margin: 22.5vh 0;
}

.signUpSuccess .signUp-success-wrap h1 {
  margin-top: 3vh;

  color: #000;

  /* H2/Medium */
  font-family: "Noto Sans KR";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem; /* 125% */
  text-align: center;
}

.signUpSuccess .signUp-success-wrap img {
  position: absolute;
  top: 12px;

  width: 389px;
  height: 334px;
  flex-shrink: 0;
}

.signUpSuccess .bottomButton {
  margin-top: 25.833vh;
  margin-bottom: 3.704vh;
}
