.signIn .signIn-wrap {
  height: 100vh;
}

.signIn .box form {
  width: 82.5%;
}

.signIn .titleWrap {
  margin-top: 3vh;
  margin-bottom: 2vh;

  color: #000;
  font-family: "Noto Sans KR";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem; /* 125% */

  text-align: center;
}

.signIn .contentWrap {
  display: flex;
  flex-direction: column;
  gap: 1.75vh;
}

.signIn .extraLink {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: 6vh;
}

.signIn .extraLink p {
  margin: 0;
  color: #000;

  /* Paragraph/Small/Regular */
  font-family: "Noto Sans KR";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}
