@use "./../../styles/_responsive.scss" as r;

.signUpSuccess .signUp-success-wrap {
  position: relative;

  margin: 22.5vh 0;
}

.signUpSuccess .signUp-success-wrap h1 {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  color: #000;

  /* H2/Medium */
  font-family: "Noto Sans KR";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem; /* 125% */

  text-align: center;
  @include r.media-small-mobile {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
    letter-spacing: -0.4px;
  }
}

.signUpSuccess .signUp-success-wrap img {
  margin-top: 1.1111vh;

  width: 389px;
  height: 334px;
  flex-shrink: 0;

  @include r.media-small-mobile {
    width: 254px;
    height: 218px;
  }
}

.signUpSuccess .bottomButton {
  margin-top: 1.2037vh;
  margin-bottom: 3.704vh;
}
