.signIn .left-side {
  flex: 1;
}

.signIn .titleWrap {
  line-height: 0.5;
  margin-top: 50%;
  font-size: 21px;
  font-weight: 600;
  color: #000000;
  text-align: center;

  margin-bottom: 10%;
}

.signIn .contentWrap {
  margin-top: 0;
  flex: 1;
  width: 100%;
}

.signIn .extraLink {
  margin: 0 28%;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
}
