.signUp .signUp-wrap {
  margin: 4.75vh 0;
}

.signUp .titleWrap {
  margin-top: 3vh;
  margin-bottom: 2vh;

  color: #000;

  /* H2/Medium */
  font-family: "Noto Sans KR";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem; /* 125% */

  text-align: center;
}

.signUp .contentWrap {
  display: flex;
  flex-direction: column;
}

.signUp .inputTitle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-left: 5%;
}

.signUp .inputWrap {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
  height: auto;
  background-color: white;
  background: rgba(253, 250, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  width: 100%;
}

.signUp .inputWrap:focus-within {
  border: 1px solid #9e30f4;
}

.signUp .inputWrap img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.signUp .input {
  box-sizing: border-box;
  padding: 10px 20px;
  /* 버튼의 너비를 고려하여 입력의 너비 조정 */
  width: calc(100% - 100px);
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  height: 17px;
}

.signUp .input::placeholder {
  color: #dadada;
}

.signUp .bottom-btn-wrap {
  margin-top: 2vh;
  margin-bottom: calc(2vh + 20px);
}
