.signUpSuccess .signUp-success-wrap {
  margin: 22.5vh 0;
}

.signUpSuccess .signUp-success-wrap h1 {
  margin-top: 3vh;
  margin-bottom: 2vh;

  color: #000;

  /* H2/Medium */
  font-family: "Noto Sans KR";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem; /* 125% */
  text-align: center;
}

.signUpSuccess .bottomButton {
  margin-top: 29vh;
  margin-bottom: 5vh;
}
