@use "./../../../components/button/_mixins.scss" as m;
@use "../../../styles/_responsive.scss" as r;

.delete-complete .delete-complete-wrap {
  display: flex;
  align-items: flex-start;

  position: relative;

  margin-top: 72px;

  width: 414px;

  @include r.media-small-mobile {
    width: 268px;
    margin-top: 69px;
  }
}

.delete-complete .delete-complete-box {
  padding: 43px 27px 39px;

  width: 100%;

  box-sizing: border-box;
  border-radius: 20px;
  border: 2px dashed var(--Main, #9591f2);

  @include r.media-small-mobile {
    padding: 42px 42px;
  }
}

.delete-complete .delete-complete-wrap img {
  position: absolute;
  top: 0;
  left: 27px;
  transform: translate(0, -50%);
  background: #ffffff;
}

.delete-complete .delete-complete-box p {
  margin: 0;
  text-align: center;

  color: #000;
}

.delete-complete .main-page-btn {
  @include m.purple-btn;

  margin-top: 32px;

  width: 414px;
  height: 48px;

  border: none;
  border-radius: 1.875rem;
  background: var(--Main, #9591f2);

  cursor: pointer;

  color: #fff;

  @include r.media-small-mobile {
    width: 268px;
    margin-top: 60px;
  }
}
