:root {
  --grey1: #fbfbfb;
  --grey2: #f2f2f2;
  --grey3: #e2e2e2;
  --grey4: #bababa;
  --grey5: #9e9e9e;
  --grey6: #777777;
  --grey7: #3c3c3c;

  --purple1: #280c5a;
  --purple2: #3c187c;
  --purple3: #52269e;
  --purple4: #6a39c0;
  --Main: #6a39c0;
  --purple5: #844fe2;
  --purple6: #9e67ff;
  --purple7: #b489ff;
  --purple8: #caabff;
  --purple9: #dfcdff;
  --purple10: #f5f0ff;

  --red: #ff3b3b;
  --black: #000000;
  --white: #ffffff;
}

@theme {
  --color-grey-01: #fbfbfb;
  --color-grey-02: #f2f2f2;
  --color-grey-03: #e2e2e2;
  --color-grey-04: #bababa;
  --color-grey-05: #9e9e9e;
  --color-grey-06: #777777;
  --color-grey-07: #3c3c3c;

  --color-purple-01: #280c5a;
  --color-purple-02: #3c187c;
  --color-purple-03: #52269e;
  --color-purple-04: #6a39c0;
  --color-main: #6a39c0;
  --color-purple-05: #844fe2;
  --color-purple-06: #9e67ff;
  --color-purple-07: #b489ff;
  --color-purple-08: #caabff;
  --color-purple-09: #dfcdff;
  --color-purple-10: #f5f0ff;
}
