.t-align-start,
.t-start {
  text-align: start;
}

.t-align-center,
.t-center {
  text-align: center;
}

.t-align-right,
.t-right {
  text-align: right;
}

.c-black {
  color: #000;
}

.c-main,
.text-main {
  color: var(--Main, #9e30f4);
}

.c-grey4,
.text-grey4 {
  color: var(--grey4, #bababa);
}

.c-grey5,
.text-grey5 {
  color: var(--grey5, #9e9e9e);
}

.c-grey,
.c-grey6,
.text-grey6 {
  color: var(--grey6, #777);
}

.c-grey7,
.text-grey7 {
  color: var(--grey7, #3c3c3c);
}

.c-grey-8f8f8f {
  color: #8f8f8f;
}

.c-red {
  color: #ff0000;
}

.c-white {
  color: #ffffff;
}

.t-underline {
  text-decoration-line: underline;
}
