.h2-medium {
  /* H2/Medium */
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
}

.h4-bold {
  /* H4/Bold */
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.h5-bold {
  /* H5/Bold */
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.p-xs-regular {
  /* Paragraph/XS/Regular */
  font-family: "Noto Sans KR";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem; /* 140% */
}

.p-xs-medium {
  /* Paragraph/XS/Medium */
  font-family: "Noto Sans KR";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 140% */
}

.p-xs-under {
  /* Paragraph/XS/Under */
  font-family: "Noto Sans KR";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem; /* 140% */
  text-decoration-line: underline;
}

.p-small-under {
  /* Paragraph/Small/Under */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  text-decoration-line: underline;
}

.p-small-medium {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.p-small-bold {
  /* Paragraph/Small/Bold */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
}

.p-medium-regular {
  /* Paragraph/Medium/Regular */
  font-family: "Noto Sans KR";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.p-medium-medium {
  /* Paragraph/Medium/Medium */
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.p-medium-bold {
  /* Paragraph/Medium/Bold */
  font-family: "Noto Sans KR";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

.p-large-medium {
  /* Paragraph/Large/Medium */
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.p-large-bold {
  font-family: "Noto Sans KR";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 155.556% */
}

.t-align-center {
  text-align: center;
}

.c-black {
  color: #000;
}

.c-main {
  color: var(--Main, #9e30f4);
}

.c-grey4 {
  color: var(--grey4, #bababa);
}

.c-grey {
  color: var(--grey6, #777);
}

.c-red {
  color: #ff0000;
}

.c-white {
  color: #ffffff;
}
