@utility p-xs-regular {
  /* Paragraph/XS/Regular */
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem; /* 140% */
}

@utility p-xs-medium {
  /* Paragraph/XS/Medium */
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 140% */
}

@utility p-xs-under {
  /* Paragraph/XS/Under */
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem; /* 140% */
  text-decoration-line: underline;
}

@utility p-xs-bold {
  /* Paragraph/XS/Bold */
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 140% */
}

@utility p-small-under {
  /* Paragraph/Small/Under */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  text-decoration-line: underline;
}

@utility p-small-regular {
  /* Paragraph/Small/Regular */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

@utility p-small-medium {
  /* Paragraph/Small/Medium */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

@utility p-small-bold {
  /* Paragraph/Small/Bold */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
}

@utility p-medium-regular {
  /* Paragraph/Medium/Regular */
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

@utility p-medium-medium {
  /* Paragraph/Medium/Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

@utility p-medium-bold {
  /* Paragraph/Medium/Bold */
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

@utility p-large-regular {
  /* Paragraph/Large/Regular */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

@utility p-large-medium {
  /* Paragraph/Large/Medium */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

@utility p-large-bold {
  /* Paragraph/Large/Bold */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 155.556% */
}

@utility p-12-400 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

@utility p-12-bold {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem; /* 133.333% */
}

@utility p-12-regular {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

@utility p-12-medium {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}
@utility p-12-under {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
