@use "../../../styles/responsive" as r;
.info-change-main {
  width: 414px;
  margin: 0 auto;
  @include r.media-small-mobile {
    width: 280px;
  }
}

.info-change-main div#margin {
  height: 2.778vh;
}

.info-change-main p#limit {
  color: var(--grey6, #777);
}

.info-change-main div#btn-wrap {
  gap: 0.94rem;
  margin-top: 3.704vh;
}

.info-change-main p#delete-account {
  margin-top: 7.407vh;
}
