.myPage-menu-side {
  position: relative;

  width: 305px;
  margin-right: 6.719vw;
}

.myPage-menu-inside {
  width: 305px;
  height: 80vh;
}

.myPage-menu-side h3.nickname {
  margin-bottom: 2vh;
}

.myPage-menu-side h5.text {
  margin-bottom: 5vh;
}

.myPage-menu-side .select-menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.75vh;
  margin-bottom: 2.25vh;
  height: 3.88313rem;
  padding-left: 28.24px;
  padding-right: 30.5px;

  cursor: pointer;

  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.myPage-menu-side .selected {
  border: 5px solid var(--Main, #6a39c0);
  padding-left: 23.24px;
  padding-right: 25.5px;
}

.myPage-menu-side .purchased {
  transform: translate(0, -5px);
}

.myPage-menu-side .script-manage {
  transform: translate(0, 5px);
}

.myPage-menu-side p.info-change-btn {
  margin-top: 4.5vh;
}

.myPage-menu-side #grey-rectangle {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--grey-grey-6, #777);

  padding: 9px 0;
}

.myPage-menu-side #grey-rectangle img {
  margin-left: 0.938vw;
  width: 0.99vw;
  height: 0.99vw;
  min-width: 15.2px;
  min-height: 15.2px;
}

.myPage-menu-side #grey-rectangle p {
  margin-left: 0.781vw;
  margin-bottom: 3px;

  font-size: clamp(13px, 0.833vw, 16px);
}
