@use "./../../styles/responsive.scss" as r;

.myPage-menu-side {
  position: relative;

  width: 305px;
  height: 100%;
  margin-right: 6.719vw;
  @include r.media-tablet {
    display: none;
  }
}

.myPage-menu-inside {
  width: 305px;
  height: 80vh;
}

.myPage-menu-side h3.nickname {
  margin-bottom: 2vh;
}

.myPage-menu-side h5.text {
  margin-bottom: 5vh;
}

.myPage-menu-side .select-menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 65.52px;
  padding-left: 28.24px;
  padding-right: 30.5px;

  cursor: pointer;

  border-radius: 50px;
  border: 5px solid #fff;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.myPage-menu-side .selected {
  border: 5px solid var(--Main, #6a39c0);
}

.myPage-menu-side p.info-change-btn {
  margin-top: 4.5vh;
}
