.purchased-script-btn {
  display: flex;
  justify-content: flex-end;

  gap: 1rem;
}
.purchased-script-btn button {
  width: 9.3125rem;
  height: 3.125rem;

  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);

  cursor: pointer;

  color: #fff;

  /* Paragraph/Medium/Bold */
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.purchased-script-btn button#purchased-perform {
  background: var(--Main, #6a39c0);
}
