@use "./../../styles/responsive.scss" as r;

.script-manage-top-btn {
  gap: 10px;
  @include r.media-mobile {
    display: none;
  }
}

.script-manage-top-btn.mobile {
  @include r.media-mobile {
    display: flex;
    margin-top: 16px;
  }

  @include r.media-small-mobile {
    flex-direction: column;
    gap: 18px;

    position: absolute;
    right: 6px;

    transform: translate(0, -61.5px);
  }
}
