.script-content hr {
  border: 1px solid #b489ff;
  margin: 0;
}

.script-content .script {
  display: flex;

  margin-top: 2vh;
  padding-bottom: 20px;

  box-sizing: border-box;
  border-bottom: 1px solid #caabff;
}

.script-content .script-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 2rem;
  width: 100%;
}

.script-content .script-detail div#title {
  margin-top: 1vh;
  margin-bottom: 0.5vh;

  width: 100%;
}

.script-content .script-detail p#title {
  margin-left: 0.125rem;
}

.script-content .script-detail img#title-info {
  width: 1.1875rem;
  height: 1.1875rem;
  margin-left: 0.5rem;

  cursor: pointer;
}

.script-content .script-detail p#author {
  margin-top: 0.5vh;
  margin-left: 0.125rem;
  margin-bottom: 1.5vh;
}

.script-content .script-detail .margin-43_4px {
  height: 43.4px;
}
