@use "./../../styles/responsive.scss" as r;

.script-manage-top-btn {
  gap: 10px;
  @include r.media-mobile {
    display: none;
  }
}

.script-manage-top-btn.mobile {
  @include r.media-mobile {
    display: flex;
    margin-top: 16px;
  }

  @include r.media-small-mobile {
    flex-direction: column;
    gap: 17.5px;

    position: absolute;
    left: 145px;

    transform: translate(-100%, -61.5px);
  }
}
