.script-content h3 {
  /* Paragraph/Large/Bold */
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

.script-content h3#date {
  color: #8f8f8f;
  margin: 0;
}

.script-content hr {
  border: 1px solid #8f8f8f;
  margin: 0;
}

.script-content .script {
  display: flex;
  margin-top: 2vh;
  margin-bottom: 1.75rem;
}

.script-content .script-thumbnail {
  width: 12.3125rem;
  height: 0;
  padding-bottom: 12.3125rem;
  flex-shrink: 0;
  border-radius: 20px;
  background: #d9d9d9;
  background-size: contain;
}

.script-content .script-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 2rem;
  width: 100%;
}

.script-content .script-detail h3 {
  margin-top: 1vh;
  margin-left: 0.125rem;
  margin-bottom: 0.5vh;

  color: #000;

  /* Paragraph/Large/Bold */
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

.script-content .script-detail h4 {
  margin-top: 0.5vh;
  margin-left: 0.125rem;
  margin-bottom: 1.5vh;

  color: #000;

  /* Paragraph/Large/Medium */
  font-family: "Noto Sans KR";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 155.556% */
}

.script-content .script-detail .margin-43_4px {
  height: 43.4px;
}
