@use "./../../../styles/_responsive.scss" as r;

.page4-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 195px;
  height: 195px;
  flex-shrink: 0;

  border: none;
  border-radius: 46px;
  background-color: var(--purple-purple-5, #844fe2);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  @include r.media-mobile {
    width: 130px;
    height: 130px;

    border-radius: 30px;
  }
  @include r.media-small-mobile {
    width: 80px;
    height: 80px;
  }
}

.page4-button:hover {
  animation: shadow 0.2s forwards ease-in-out;

  @keyframes shadow {
    100% {
      filter: drop-shadow(0 0 1em var(--purple7));
    }
  }
}

.page4-button img {
  width: 65%;

  @include r.media-small-mobile {
    width: 50.204px;
  }
}
