@use "../../../styles/responsive" as r;

.post-manage-detail {
  .main {
    display: flex;
    flex-direction: column;
    margin: 72px auto;
    width: 1180px;
    @include r.media-tablet {
      width: 668px;
    }
    @include r.media-mobile {
      width: 430px;
    }
    @include r.media-small-mobile {
      width: 87.5vw;
      margin: 25px 6.25vw;
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    width: 630px;
    padding-top: 35px;
    padding-bottom: 81px;
    @include r.media-mobile {
      width: 430px;
      padding-top: 30px;
    }
    @include r.media-small-mobile {
      width: 87.5vw;
      padding-top: 30px;
    }
  }

  .top-info {
    display: grid;
    grid-template-columns: 197px 413px;
    column-gap: 20px;

    @include r.media-mobile {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    @include r.media-small-mobile {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    align-items: end;
    justify-content: end;

    @include r.media-mobile {
      width: 197px;
    }
    @include r.media-small-mobile {
      width: 37.5vw;
    }
  }

  .outline1 {
    display: grid;
    grid-template-rows: 20px 40px;
    row-gap: 19px;
    grid-template-columns: 341px 177px;
    column-gap: 70px;

    width: 599px;
    height: 90px;
    margin: 0 auto;

    @include r.media-mobile {
      grid-template-rows: 20px 39px 20px 20px;
      grid-template-columns: none;
      column-gap: 0;
      row-gap: 21px;
      width: 430px;
      padding-left: 10px;
      height: 163px;
    }

    @include r.media-small-mobile {
      grid-template-rows: 45px 36px 20px 20px;
      grid-template-columns: none;
      column-gap: 0;
      row-gap: 10px;
      width: 87.5vw;
      padding-left: 0.94vw;
      height: 150px;
    }
  }

  .characters {
    display: grid;
    grid-template-columns: 75px 1px 236px;
    column-gap: 15px;
    @include r.media-mobile {
      order: 1; // ✅ 등장인물 → 첫 번째
    }
    @include r.media-small-mobile {
      order: 1; // ✅ 등장인물 → 첫 번째
      grid-template-columns: 19.69vw 0.31vw 46.88vw;
      column-gap: 3.125vw;
    }
  }

  .performance-time {
    display: grid;
    grid-template-columns: 78px 1px 69px;
    column-gap: 15px;
    @include r.media-mobile {
      order: 3;
    }
    @include r.media-small-mobile {
      order: 3;
      grid-template-columns: 19.69vw 0.31vw 46.88vw;
      column-gap: 3.125vw;
    }
  }

  .stage {
    display: grid;
    grid-template-columns: 51px 1px 260px;
    column-gap: 15px;
    @include r.media-mobile {
      order: 2;
    }
    @include r.media-small-mobile {
      order: 2;
      grid-template-columns: 13.125vw 0.31vw 1fr;
      column-gap: 3.125vw;
    }
  }

  .scene-act {
    display: grid;
    grid-template-columns: 66px 1px 89px;
    column-gap: 15px;
    @include r.media-mobile {
      order: 4;
    }
    @include r.media-small-mobile {
      order: 4;
      grid-template-columns: 17.18vw 0.31vw 26.88vw;
      column-gap: 3.125vw;
    }
  }

  .pupple-contour {
    @include r.media-mobile {
      display: none;
    }
  }

  .sales-status {
    // grid grid-cols-[61%_39%] gap-y-[22.38%]
    height: 67px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 377px 197px;
    column-gap: 22px;
    @include r.media-laptop {
      display: grid;
      grid-template-columns: 377px 197px;
      column-gap: 22px;
    }
    @include r.media-mobile {
      display: grid;
      grid-template-columns: 238px 162px;
      column-gap: 20px;
      padding-left: 4px;
    }
    @include r.media-small-mobile {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 32px 32px 32px 32px;
      height: 154px;
      column-gap: 0;
      row-gap: 8px;
      padding-left: 0.94vw;
    }
  }

  .script {
    display: grid;
    grid-template-columns: 51px 1px 296px;
    column-gap: 15px;
    height: 26px;
    @include r.media-mobile {
      grid-template-columns: 51px 1px 157px;
      column-gap: 20px;
    }
    @include r.media-small-mobile {
      grid-template-columns: 15.93vw 0.3vw 64.06vw;
      column-gap: 3.44vw;
      height: 32px;
    }
  }

  .performance {
    display: grid;
    grid-template-columns: 63px 1px 284px;
    column-gap: 15px;
    height: 26px;
    @include r.media-mobile {
      grid-template-columns: 63px 1px 145px;
      column-gap: 20px;
    }
    @include r.media-small-mobile {
      grid-template-columns: 15.93vw 0.3vw 64.06vw;
      column-gap: 3.44vw;
      height: 32px;
    }
  }

  .intention-div {
    height: 58px;
    @include r.media-mobile {
      height: 108px;
    }
  }
  .intention-text {
    height: 42px;
    width: 100%;
    @include r.media-mobile {
      height: 82px;
    }
  }

  .contents-textarea {
    height: 82px;
    width: 266px;
    margin: 13px 22px;

    @include r.media-small-mobile {
      height: 56px;
      width: 72.5vw;
      margin: 14.5px 4.69vw;
    }
  }
}
