.toggle-bar .toggle-bar-content {
  width: 100%;
}

.toggle-bar .tab-nav-wrap {
  margin: 16vh 0;
}

.toggle-bar .tab-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 66.5rem;
  @media (max-width: 1279px) {
    width: clamp(688px, 55.417vw, 66.5rem);
  }
  @media (max-width: 768px) and (min-width: 480px) {
    width: clamp(440px, 35.833vw, 688px);
  }
  @media (max-width: 480px) {
    width: 280px;
  }

  & {
    height: 3.75rem;
    align-self: stretch;
  }
}

.toggle-bar .tab-name {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;

  border-bottom: 0.0625rem solid #000000;
  cursor: pointer;

  color: #000;

  /* H5/Medium */
  font-family: "Noto Sans KR";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 140% */

  position: relative;
}

.toggle-bar .tab-name.current {
  /* 0.3125 / 2 = 0.15625 */
  border-bottom: 0.15625rem solid #caabff;
}

/* border-bottom의 디자인 변경 */
.toggle-bar .tab-name.current::after {
  content: "";
  position: absolute;
  bottom: -0.25rem; /* border 위치 조정 */
  left: 0;
  width: 100%;
  height: 0.15625rem;
  background-color: #caabff;
  /* 그림자 추가 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
