@use "./../styles/responsive.scss" as r;

.footer {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 20.6896552%;
  max-height: 300px;
  box-sizing: border-box;
  background: #ffffff;

  @include r.media-mobile {
    display: none;
  }
}

.footer * {
  box-sizing: border-box;
}

.footer .footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  width: 100vw;

  border-top: 1px solid #dddddd;

  padding: 0 16.667%;

  @include r.media-laptop {
    padding-left: 52.5px;
  }
  @include r.media-mobile {
    padding-left: 38.5px;
  }
}

.footer .footer-upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  margin-top: 4.775vh; /* 51.57px */
}

.footer .footer-upper img {
  width: 9.625rem;
  height: 3.1885rem;
}

.footer .footer-upper p {
  margin: 0;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;

  color: #333333;
}

.footer .footer-lower {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include r.media-mobile {
    flex-direction: column;
    gap: 157px;
  }

  & {
    width: 100%;

    margin-top: 1.57px;
  }
}

.footer .footer-lower .business-info p {
  margin: 0;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #000000;
}

.footer hr {
  margin: 0;
  margin-left: 25px;
  margin-right: 9px;

  height: 140px;

  border: 1px solid #000000;
}

.footer hr#right {
  @include r.media-mobile {
    margin: 0;
    margin-top: 11.75px;
    margin-bottom: 12.5px;
    margin-left: calc(38.5px - 41px - 16.5px);
    margin-right: 39px;

    width: 100%;
    height: 1px;
  }
}

.footer .sitemap {
  display: flex;
  flex-wrap: wrap;

  gap: 174px;
  @include r.media-mobile {
    gap: 9.063vw;
  }

  & {
    margin-right: 2.5vw;
    transform: translateY(-2.13vh);
  }
}

.footer .sitemap .sitemap-section {
  display: flex;
  flex-direction: row;
}

.footer .sitemap #left.sitemap-section {
  display: flex;
  @include r.media-tablet {
    display: none;
  }
  & {
    height: fit-content;
  }
}

.footer .sitemap #right.sitemap-section {
  @include r.media-mobile {
    flex-direction: column;

    margin-left: 16.5px;

    width: 100%;
  }
}

.footer .sitemap ul {
  width: fit-content;

  list-style: none;

  margin: 0;
  padding: 0;
}

.footer .sitemap ul#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 9px;
}

.footer .sitemap ul#question {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include r.media-mobile {
    flex-direction: row;
    gap: 55px;
  }
}

.footer .sitemap ul#us {
  display: flex;
  flex-direction: column;
  gap: calc(12px + 6px);

  @include r.media-mobile {
    flex-direction: row;
    gap: 26px;
  }
}

.footer .sitemap ul#us div:nth-of-type(1) {
  gap: 8px;
}

.footer .sitemap ul#us div:nth-of-type(2) {
  gap: 5px;
}

.footer .sitemap ul li {
  cursor: pointer;
}

.footer .sitemap button {
  width: 69px;
  height: 20px;

  background: none;
  margin-top: auto;
  margin-bottom: 20px;

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 30px;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #000000;
}

.footer .sitemap .sitemap-section li#icons a {
  display: flex;
  gap: 0.4rem;
}

.footer li#contact {
  gap: 7px;

  margin: 0;
}
