.Loading .loading-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 16.667vh;
  margin-bottom : 68.519vh;
}

.Loading .loading-wrap > p {
  margin-top: 2.13vh;
}
