@use "./../components/button/_mixins.scss" as m;
@use "./../styles/_responsive.scss" as r;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 88px;
  padding-right: 44px;

  height: 70px;
  background-color: #ffffff;

  border-bottom: 1px solid var(--Main, #6a39c0);

  @include r.media-tablet {
    padding-left: 44px;
  }
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar .hamburger-btn {
  display: none;
  @include r.media-tablet {
    display: block;
  }
  & {
    width: /* 30px */ 2.778vh;
    height: /* 24px */ 2.222vh;
  }
}

.navbar .navbar_logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @include r.media-tablet {
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
  }
}

.navbar .navbar_logo .icon {
  @include r.media-tablet {
    display: none;
  }
}

.navbar .navbar_menu {
  display: flex;
  @include r.media-tablet {
    display: none;
  }
  & {
    padding-left: 0;

    list-style: none;
    white-space: nowrap;
  }
}

.navbar .navbar_menu li {
  display: flex;
  align-items: center;

  padding: 8px 30px;
}

.navbar .navbar_login {
  display: flex;
  align-items: center;

  position: relative;
}

.navbar .navbar_login .my-page-button {
  position: absolute;
  left: -45px;

  width: 26px;
  height: 28px;

  cursor: pointer;

  transform: translate(-50%, -50%);
  @include r.media-mobile {
    position: static;
    transform: none;
  }
}

.navbar .signin_btn {
  @include r.media-tablet {
    display: none;
  }
}
