@use "./../styles/_responsive.scss" as r;

.main-ver2 .page1 {
  height: 1361px;

  background: linear-gradient(180deg, #f5f0ff 0%, #fff 100%);
  @include r.media-tablet {
    align-items: end;
  }
  @include r.media-mobile {
    align-items: center;
    height: 1058px;
  }
}

.main-ver2 .page1-width {
  height: 85vh;

  @include r.media-tablet {
    width: calc(100% - 80px);
    height: auto;
  }
  @include r.media-mobile {
    width: 100%;
  }
}

.page1-title-img {
  display: flex;
  flex-direction: row;

  margin: auto;

  @include r.media-tablet {
    flex-direction: column;
    gap: 0px;
  }
  @include r.media-mobile {
    width: 100%;
  }
}
.main-ver2 .page1 .title-wrap {
  gap: 5.833vh; /* 63px */

  @include r.media-laptop {
    width: fit-content;
  }

  @include r.media-tablet {
    gap: 0;
    width: 768px;
  }
  @include r.media-mobile {
    width: 480px;
  }
}

.main-ver2 .page1 .title {
  font-size: 6.667vh; /* 72px */
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 86.4px */
  @include r.media-tablet {
    margin-bottom: 70px;

    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
  }
  @include r.media-mobile {
    margin-bottom: 60px;

    font-size: 48px;
  }
}

.main-ver2 .page1 .sub-title {
  color: var(--grey-grey-5, #9e9e9e);
  font-size: 2.963vh; /* 32px */
  font-style: normal;
  font-weight: 700;
  line-height: 156.25%; /* 156.25% */
  letter-spacing: -0.64px;
  @include r.media-tablet {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 156.25% */
  }
  @include r.media-mobile {
    font-size: 24px;
  }
}

.main-ver2 .page1 img.arrow {
  width: 80px;
  height: 26px;
  flex-shrink: 0;

  animation: moveArrow 1.5s infinite ease-in-out;
}

@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.main-ver2 .page1 .circle-icon {
  position: absolute;
  top: 11.852vh; // 128px
  right: 12.5vw; // 240px

  width: 652px;
  height: 641px;

  transform: translateX(-18px);
  @include r.media-laptop {
    top: 12.5926vh; // 136px
    right: 80px;

    width: 616px;
    height: 606px;
  }
  @include r.media-tablet {
    position: static;
  }
  @include r.media-mobile {
    margin-top: 42px;

    width: 438px;
    height: 449px;

    transform: translateX(0);
  }
}
.resized-image {
  width: 100%;
  height: auto; /* 이미지 비율을 유지하며 높이 자동 설정 */
  max-width: 1920px;
}

.main-ver2 .page-size {
  position: relative;
  width: 100%;
  height: 100vh;
  @include r.media-tablet {
    height: auto;
  }
}

.main-ver2 .title_64px {
  color: var(--ect-black, #000);
  text-align: center;
  font-size: 5.926vh; /* 64px */
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  @include r.media-tablet {
    font-size: 40px;
  }
  @include r.media-mobile {
    font-size: 28px;
  }
}

.main-ver2 .title_20px {
  color: var(--grey-grey-5, #9e9e9e);
  text-align: center;
  font-size: 1.852vh; /* 20px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @include r.media-tablet {
    font-size: 20px;
  }
  @include r.media-mobile {
    font-size: 16px;
  }
}

.main-ver2 .bottom-position {
  position: absolute;
  bottom: 0;

  z-index: -100;
}

.main-ver2 .page4 {
  @media (max-width: 1920px) {
    height: 72.222vh; /* 780px */
  }
  @media (max-width: 1600px) {
    height: 100vh;
  }
  @include r.media-tablet {
    height: calc(534px + 60px);
  }
  @include r.media-mobile {
    height: calc(351px + 36px);
  }

  & {
    background: var(--purple-purple-10, #f5f0ff);
  }
}

.main-ver2 .page4 .title_64px {
  padding-top: 7.5vh; /* 81px */
  @include r.media-tablet {
    padding-top: 0;
  }
}

.main-ver2 .page4 .title_20px {
  margin-top: 1.111vh; /* 12px */
}

.main-ver2 .page4 .page4-button-wrap {
  gap: 6.979vw; /* 134px */

  margin-top: 17.593vh; /* 190px */
  @include r.media-laptop {
    gap: 50px;

    margin-top: 8.4259vh; /* 91px */
  }
  @include r.media-mobile {
    gap: 27px;
  }
}
