.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4vw;
  font-family: "Noto_Sans_KR";
  background-color: #ffffff;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar .navbar_logo {
  display: flex;
  gap: 1.5rem;
}

.navbar .navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar .navbar_menu li {
  padding: 8px 30px;
}

.navbar .navbar_menu .li {
  color: #000;

  /* H5/Regular */
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.navbar .navbar_login {
  display: flex;
  gap: 2.5vw;
}

.navbar .signin_btn {
  border-radius: 30px;
  border: 3px solid var(--Main, #9591f2);
  width: 7.5vw;
  height: 2.75rem;
  font-size: 16px;
  background-color: #fdfaff;

  color: var(--Main, #6a39c0);

  /* Paragraph/Large/Regular */
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
