@use "./../styles/_responsive.scss" as r;

@include r.media-tablet {
  .main-ver2 .page2 {
    width: fit-content; // 디자인 안돼있음, 일단 이렇게 처리
  }
}

.main-ver2 .page2 .page2-title {
  margin: 8.981vh 0; /* 97px */
  @media (max-width: 1920px) {
    margin: 8.981vh 0;
  }
  @media (max-width: 1600px) {
    margin: 4.5vh 0;
  }
}

.main-ver2 .page2 .page2-content-wrap {
  gap: 23px;

  margin-bottom: 14.352vh; /* 155px */
  @include r.media-laptop {
    gap: 20px;
  }
}

.main-ver2 .page2 .page2-content {
  position: relative;

  width: 407px;
  min-height: 580px;
  height: 58.796vh; /* 635px */
  @include r.media-laptop {
    width: 382px;
    height: 596px;
  }
  & {
    flex-shrink: 0;

    border-radius: 30px;

    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    background-size: cover;
    background-repeat: no-repeat;
  }
}

.main-ver2 .page2 .page2-content .page2-img-wrap img {
  @include r.media-laptop {
    width: 100%;
  }
}

.main-ver2 .page2 .page2-content:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.main-ver2 .page2 .page2-content:nth-of-type(1) .page2-img-wrap {
  position: absolute;
  bottom: 0px;
}

.main-ver2 .page2 .page2-content:nth-of-type(2) .page2-img-wrap {
  position: absolute;
  bottom: 74.5px;
}

.main-ver2 .page2 .page2-content:nth-of-type(3) .page2-img-wrap {
  position: absolute;
  bottom: 0;
}

.main-ver2 .page2 .page2-content .page2-button {
  position: absolute;
  right: 26px;
  bottom: 26px;
}

.main-ver2 .page2 .page2-content:nth-of-type(1) {
  position: relative;

  background-image: url("./../assets/image/landing/page2/content1/Group\ \(2\).png");
}

.main-ver2 .page2 .page2-content:nth-of-type(1) .page2-content-title {
  position: absolute;
  top: -2px;
  left: -2px;
}

.main-ver2 .page2 .page2-content:nth-of-type(1) h1 {
  position: relative; /* z-index */

  margin-top: 17px;
  margin-left: 33px;

  z-index: 10;
}

.main-ver2 .page2 .page2-content:nth-of-type(1) h4 {
  margin-top: 43px;
  margin-left: 33px;
}

.main-ver2 .page2 .page2-content:nth-of-type(2) {
  background-image: url("./../assets/image/landing/page2/content2/Clip\ path\ group.png");
}

.main-ver2 .page2 .page2-content:nth-of-type(2) h4 {
  margin-top: 4.7222vh; /* 51px */
  margin-left: 33px;
  margin-bottom: 43px;
}

.main-ver2 .page2 .page2-content:nth-of-type(2) h1 {
  position: absolute;
  bottom: 0;

  margin-left: 30px;
  margin-bottom: 13px;

  z-index: 10;
}

.main-ver2 .page2 .page2-content:nth-of-type(2) .page2-content-title {
  position: absolute;
  left: -2px;
  bottom: -2px;

  transform: rotateX(180deg);
}

.main-ver2 .page2 .page2-content:nth-of-type(3) {
  background-image: url("./../assets/image/landing/page2/content3/Clip\ path\ group\ \(2\).png");
}

.main-ver2 .page2 .page2-content:nth-of-type(3) .page2-content-title {
  position: absolute;
  top: -2px;
  right: -2px;
}

.main-ver2 .page2 .page2-content:nth-of-type(3) h1 {
  position: relative; /* z-index */

  margin-top: 17px;
  margin-right: 32px;

  z-index: 10;
}

.main-ver2 .page2 .page2-content:nth-of-type(3) h4 {
  margin-top: 43px;
  margin-right: 33px;
}
