.Not-Found .not-found {
  padding: 16.667vh 0;
  text-align: center;
}

.Not-Found .not-found h1 {
  margin-bottom: 1.5rem;

  color: var(--Main, #6a39c0);

  /* BIG */
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 8.75rem; /* 109.375% */
  letter-spacing: -0.0001em;
}

.Not-Found .not-found p {
  color: var(--grey6, #777);
}
