.purchase .purchase-wrap {
  margin: 6.66vh 0;
}

.purchase .purchase-wrap p#subtitle {
  margin-bottom: 1.25rem;
}

.purchase .purchase-flex {
  display: flex;
}

.purchase .list-side {
  flex: 2;
  padding-right: 2.5rem;
}

.purchase .list-side hr#script-perform {
  width: 100%;

  margin-top: 5vh;
  margin-bottom: 1.5vh;

  border: 0.1rem dashed var(--Main, #6a39c0);
  border-radius: 10px;

  border-image: repeating-linear-gradient(
      to right,
      var(--Main, #6a39c0) 0,
      var(--Main, #6a39c0) 10px,
      transparent 10px,
      transparent 15px
    )
    1;
}

.purchase .list-side .content {
  margin-top: 3.5vh;
}

.purchase .purchase-list {
  display: flex;
  margin-bottom: 1rem;
}

.purchase .detail {
  width: 100%;
  margin-top: 1rem;
  margin-left: 1.5rem;
  padding-right: 1.5rem;
}

.purchase .detail p.left-margin {
  margin-left: 0.5rem;
}

.purchase .detail hr {
  width: 100%;
  border: 1px solid var(--purple8, #caabff);
}

.purchase .detail p#tag {
  margin-top: 1rem;
  color: var(--Sub-2, #3876f2);

  font-size: 14px;
  line-height: 20px;
}

.purchase .detail-price {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.purchase .detail-price .price-wrap {
  display: flex;
  align-items: center;
}

.purchase .price-wrap:nth-of-type(1) {
  gap: 8px;
}

.purchase .price-wrap:nth-of-type(1) img {
  width: 12px;
  height: 15px;
}

.purchase .price-wrap:nth-of-type(2) {
  gap: 4px;
}

.purchase .price-wrap:nth-of-type(2) img {
  width: 19.999px;
  height: 19.892px;
}

.purchase .purchase-side {
  flex: 1;
  position: relative;

  margin-top: 7vh;
}

.purchase .purchase-method {
  margin-top: 1.944vw;
  padding-top: 23px;
  padding-left: 30.07px;

  width: 414px;
  height: 155px;
  flex-shrink: 0;

  border-radius: 42px;
  border: 1px solid #fff;
  background: #f4f2ff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

.purchase .purchase-method .btn-wrap {
  gap: 19px;

  margin-top: 26px;
  margin-bottom: 9px;
  margin-left: -4.07px;
}

.purchase div#user-info-wrap {
  margin-top: 1.536vw;
}

.purchase div#user-info-wrap hr#user-info-hr {
  margin: 0;
  margin-bottom: 0.807vw;
}

.purchase div#user-info {
  position: relative;
  gap: 2px;

  margin-bottom: 10px;
}

.purchase div#user-info img {
  position: relative;
  width: 19px;
  height: 19px;
}

.purchase div#user-info-wrap div#input-wrap {
  gap: 14px;
}

.purchase p#p-1 {
  color: var(--grey-grey-6, #777);
  font-family: "Noto Sans KR";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 200% */
}

.purchase p#p-2 {
  color: var(--grey-grey-6, #777);
  font-family: "Noto Sans KR";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration-line: underline;
}

.purchase div#refund-wrap {
  gap: 6px;

  margin-top: 17px;
}

.purchase div#refund {
  gap: 5px;
}
