.purchase .purchase-wrap {
  margin: 6.66vh 16.5%;
  min-height: 80vh;
}
.purchase .purchase-wrap h4 {
  margin: 0;
  color: #000;

  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.purchase .purchase-wrap h4#subtitle {
  margin-bottom: 1.25rem;
  color: #000;

  /* Paragraph/Large/Bold */
  font-family: "Noto Sans KR";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 155.556% */
}

.purchase .purchase-flex {
  display: flex;
}

.purchase .list-side {
  flex: 2;
  padding-right: 2.5rem;
}

.purchase .list-side hr#script-perform {
  width: 100%;

  margin-top: 5vh;
  margin-bottom: 1.5vh;

  border: 0.1rem dashed var(--Main, #6a39c0);
  border-radius: 10px;

  border-image: repeating-linear-gradient(
      to right,
      var(--Main, #6a39c0) 0,
      var(--Main, #6a39c0) 10px,
      transparent 10px,
      transparent 15px
    )
    1;
}

.purchase .list-side .content {
  margin-top: 3.5vh;
}

.purchase .purchase-list {
  display: flex;
  margin-bottom: 1rem;
}

.purchase .thumbnail {
  width: 12.3125rem;
  height: 12.3125rem;
  flex-shrink: 0;

  border-radius: 20px;
  background: #d9d9d9;
  background-size: contain;
}

.purchase .detail {
  width: 100%;
  margin-top: 1rem;
  margin-left: 1.5rem;
  padding-right: 1.5rem;
}

.purchase .detail h5 {
  margin: 0;
  margin-left: 0.5rem;
  color: #000;

  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.purchase .detail hr {
  width: 100%;
  border: 1px solid var(--purple8, #caabff);
}

.purchase .detail h6 {
  margin: 0;
  margin-left: 0.5rem;
  color: #000;

  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.purchase .detail p {
  margin: 0;
  margin-left: 0.5rem;
  color: #000;

  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.purchase .detail p#tag {
  margin-top: 1rem;
  color: var(--Sub-2, #3876f2);

  font-size: 14px;
  line-height: 20px;
}

.purchase .detail-price {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.purchase .detail-price .price-wrap {
  display: flex;
  align-items: center;
}

.purchase .purchase-side {
  flex: 1;
  margin-top: 7vh;
}

.purchase .purchase-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 0.4rem 0;

  border: 0;
  border-radius: 30px;
  background: var(--Main);

  color: #ffffff;
  text-align: center;

  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

  cursor: pointer;
}
