.account-info-change .account-info-change-wrap {
  display: flex;
  margin: 6.66vh 0;
}

.account-info-change .content-side {
  flex: 2;
}
.account-info-change .content-side-inside h1 {
  margin: 0;
  margin-bottom: 0.926vh;

  color: #000;

  /* H4/Bold */
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
