@use "./../../styles/_responsive.scss" as r;

.asked-perform-manage * {
  box-sizing: border-box;
}

.asked-perform-manage .contents {
  display: flex;
  gap: 38px;

  margin-top: 4.167vh;

  @include r.media-laptop {
    gap: 29px;
  }
  @include r.media-tablet {
    flex-direction: column;
    align-items: center;
  }
}

.asked-perform-manage .script-info {
  padding: 0 2.188vw;
  padding-top: 4.722vh;
  padding-bottom: 3.889vh;

  width: 389px;
  height: auto;

  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid var(--Main, #6a39c0);
  background: var(--ect-white, #fff);

  @include r.media-laptop {
    width: 351px;
  }
  @include r.media-tablet {
    flex-direction: row;
    gap: 30px;
    padding-left: 39px;
    padding-right: 39px;

    width: 668px;
    height: auto;
  }
  @include r.media-mobile {
    width: 89.6svw;
    flex-direction: column;
    height: auto;
  }
}

.asked-perform-manage .script-info .script-info-title > hr {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 9px;

  width: 197px;

  border: 1px solid #9e9e9e;
}

.asked-perform-manage .script-info .script-info-title .summary {
  margin-top: 7px;
  margin-bottom: 32px;
}

.asked-perform-manage .script-info .sales-status-box-wrap {
  gap: 2.685vh;
}

.asked-perform-manage .script-info .sales-status-box {
  width: 305px;
  height: 121px;
  flex-shrink: 0;

  box-sizing: border-box;
  border-radius: 20px;
  background: var(--purple-purple-10, #f5f0ff);
  @include r.media-small-mobile {
    width: 240px;
    height: 100px;
  }
}

.asked-perform-manage .script-info .sales-status-box .title {
  margin-top: 12px;
  margin-left: 23px;
  margin-right: 12px;
}

.asked-perform-manage .script-info .sales-status-box .content {
  gap: 34px;

  margin-top: 11px;
}

.asked-perform-manage .script-info .sales-status-box .content hr {
  margin: 0;
  border-color: #caabff;
}

.asked-perform-manage .script-info .sales-status-box .sales-status-box-value {
  @include r.media-small-mobile {
    gap: 6px;
  }
}

.asked-perform-manage .contents .asked-perform-wrap {
  padding: 37px 56px;

  width: 853px;
  height: auto;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid var(--Main, #6a39c0);

  overflow-y: auto;

  @include r.media-laptop {
    padding: 37px 30px;

    width: 800px;
  }
  @include r.media-tablet {
    width: 668px;
  }
  @include r.media-mobile {
    width: 89.6svw;
  }
}

.asked-perform-manage .contents .asked-perform-wrap .asked-perform-box {
  padding-bottom: 1.204vh;
}

.asked-perform-manage .contents .asked-perform-wrap .date {
  padding: 0 6px;

  width: 740px;
  @include r.media-tablet {
    width: 608px;
  }
  @include r.media-mobile {
    width: 370px;
  }
  @include r.media-small-mobile {
    width: 220px;
  }

  & {
    height: 33px;
    flex-shrink: 0;

    box-sizing: border-box;
    border-bottom: 1px solid #b489ff;
    background-color: var(--purple-purple-10, #f5f0ff);
  }
}

.asked-perform-manage .contents .asked-perform-wrap .date img {
  @include r.media-small-mobile {
    width: 25px;
    height: 20px;
  }
}

.asked-perform-manage .contents .asked-perform-wrap .content-inside {
  padding: 0 6px;
  padding-top: 1.667vh;

  box-sizing: border-box;
}

.asked-perform-manage .contents .asked-perform-wrap .content-inside .user-info {
  margin-bottom: 1.296vh;
  @include r.media-small-mobile {
    flex-direction: column;
    gap: 1.481vh;
  }
}

.asked-perform-manage .contents .asked-perform-wrap .content-inside .date-list {
  display: grid;
  grid-template-columns: 1fr 355px;
  @include r.media-tablet {
    grid-template-columns: 1fr 285px;
  }
  @include r.media-mobile {
    grid-template-columns: 1fr 170px;
  }
  @include r.media-small-mobile {
    grid-template-columns: 1fr;
  }
  & {
    row-gap: 1.481vh;

    width: 100%;
  }
}

.asked-perform-manage .contents .asked-perform-wrap hr {
  margin-top: 2.685vh;

  border: 1px solid #9e9e9e;
}
