@use "./../../styles/_responsive.scss" as r;

.myPage-contents-default .myPage-contents-default-wrap {
  display: flex;
  margin: 6.66vh 0;
  min-height: 87.5vh;
}

.myPage-contents-default .content-side {
  width: 847px;
  @include r.media-laptop {
    width: 854px;
  }
  @include r.media-tablet {
    width: 667px;
  }
  @include r.media-mobile {
    width: 430px;
  }
  @include r.media-small-mobile {
    width: 81.25vw; //260px
    min-width: 260px;
  }
}

.myPage-contents-default .content-side h1 {
  color: #000;

  /* H4/Bold */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.myPage-contents-default .content-side .m-bottom-8-88vh {
  margin-bottom: 8.88vh;
}
