.myPage-contents-default .myPage-contents-default-wrap {
  display: flex;
  margin: 6.66vh 16.5%;
  min-height: 80vh;
}

.myPage-contents-default .content-side {
  flex: 2;
}

.myPage-contents-default .content-side h1 {
  color: #000;

  /* H4/Bold */
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -2px;
}

.myPage-contents-default .content-side .m-bottom-8-88vh {
  margin-bottom: 8.88vh;
}
