@use "./../../styles/_responsive.scss" as r;

/* PerformanceRefund 가격 공통 class */
.perform-refund .price-default {
  margin-left: 4px;

  min-width: 84px;
  text-align: right;
  @include r.media-small-mobile {
    min-width: 48px;
  }
}

.perform-refund .price-default-left {
  width: calc(20px + 0.56rem);
}

/* PerformanceRefund css */
.perform-refund .script > hr {
  margin-top: 2.5vh;
}

.perform-refund div#detail {
  margin: 0 0.62rem;
}

.perform-refund div#detail .detail-content {
  margin: 0 0.25rem;
}

.perform-refund div#detail hr {
  margin: 0;
  margin-top: 0.38rem;
  margin-bottom: 0.31rem;
  border-color: #9e9e9e;
}

.perform-refund div#detail hr:nth-of-type(3),
.perform-refund div#detail hr:nth-of-type(4) {
  margin-top: 0.12rem;
}

.perform-refund div#detail div#total {
  margin-top: 0.87rem;
  margin-bottom: 1.06rem;
}

.perform-refund div#detail div#total img {
  width: 1.25rem;
  height: 1.25rem;

  @include r.media-small-mobile {
    width: 16px;
    height: 16px;
  }
}

.perform-refund div#detail div#total div#total-amount {
  gap: 0.56rem;
}

.perform-refund div#detail div#total div#total-amount p {
  min-width: 18px;

  @include r.media-small-mobile {
    min-width: 11px;
  }
}

.perform-refund p#length {
  transform: translateX(10px);

  @include r.media-small-mobile {
    transform: translateX(0px);
  }
}

.perform-refund .script > hr:nth-of-type(2) {
  margin: 0;
  margin-top: 1.06rem;
  margin-bottom: 2.315vh;
}

.perform-refund div#btn {
  gap: 0.94rem;

  margin-top: 7.5vh;
}

.perform-refund .refund-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding-top: 42px;
  padding-bottom: 23px;

  width: 350px;

  border-radius: 20px;
  background: var(--grey-grey-1, #fbfbfb);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;

  @include r.media-small-mobile {
    width: 280px;
  }
}
