@use "./../../styles/_responsive.scss" as r;

.perform-top {
  margin: 0 auto;
  padding: 0 50px;

  max-width: 1280px;

  @include r.media-mobile {
    padding: 0 25px;
  }
  @include r.media-small-mobile {
    padding: 0 20px;
  }
}

.perform-top > * {
  margin: 3.426vh 0;
}

.perform-top h4 {
  margin-top: 1.296vh;
  margin-bottom: 4.259vh;
}

.perform-top hr {
  border: 1px solid #b489ff;
}

.perform-top .script {
  margin-top: 3.241vh;
  margin-bottom: 1.75rem;

  width: 100%;
  max-width: 630px;
  @include r.media-mobile {
    padding: 0;
  }
  @include r.media-small-mobile {
    padding: 0 5px;
  }
}

.perform-top .script-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1;
}

.perform-top .script-detail div#title {
  margin-top: 1vh;
  margin-bottom: 0.5vh;
}

.perform-top .script-detail hr {
  width: 25rem;
  @include r.media-mobile {
    width: 100%;
  }
}

.perform-top .script-detail p#title {
  margin-left: 0.125rem;
}

.perform-top .script-detail p#author {
  margin-top: 0.5vh;
  margin-left: 0.125rem;
  margin-bottom: 1.5vh; /* 16.2px */
}
