.purchased-script {
  background: #fdfaff;
}

.purchased-script .purchased-script-wrap {
  display: flex;
  margin: 8vh 17.5%;
  min-height: 80vh;
}

.purchased-script .content-side {
  flex: 2;
}

.purchased-script .content-side h1 {
  margin-bottom: 3vh;

  color: #000;

  /* H5/Bold */
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.4px;
}
