.purchased-script {
  background: #fdfaff;
}

.purchased-script .purchased-script-wrap {
  display: flex;
  margin: 8vh 17.5%;
  min-height: 80vh;
}

.purchased-script .content-side {
  flex: 2;
}

.purchased-script .content-side h1 {
  margin-bottom: 3vh;

  color: #000;

  /* H5/Bold */
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.4px;
}

.purchased-script .content-side h3 {
  /* Paragraph/Large/Bold */
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

.purchased-script .content-side h3#date {
  color: #8f8f8f;
  margin: 0;
}

.purchased-script .content-side h3#title {
  margin-bottom: 0.5vh;
}

.purchased-script .content-side hr {
  border: 1px solid #8f8f8f;
  margin: 0;
}

.purchased-script .script {
  display: flex;
  margin-top: 2vh;
  margin-bottom: 1.75rem;
}

.purchased-script .script-thumbnail {
  width: 10rem;
  padding-bottom: 10rem;
  flex-shrink: 0;
  border-radius: 20px;
  background: #d9d9d9;
  background-size: contain;
}

.purchased-script .script-detail {
  margin-left: 1.5rem;
  width: 100%;
}

.purchased-script .script-detail h3 {
  margin: 0;
  color: #000;

  /* Paragraph/Large/Bold */
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}

.purchased-script .script-detail h4 {
  margin: 0;
  margin-bottom: 1vh;
  color: #000;

  /* Paragraph/Large/Medium */
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.purchased-script .btn-wrap {
  display: flex;
  justify-content: flex-end;

  gap: 1rem;
}
.purchased-script .btn-wrap button {
  padding: 0.75rem 2rem;

  border: none;
  border-radius: 50px;
  background: var(--Main, #9591f2);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);

  color: #fff;

  /* Paragraph/Medium/Bold */
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
