@use "./../../styles/responsive.scss" as r;

.purchased-script .content-side .content-side-grid {
  display: grid;
  grid-template-columns: 1fr 197px;
  justify-content: space-between;

  width: 100%;
  @include r.media-mobile {
    grid-template-columns: 1fr 136px;
  }
  @include r.media-small-mobile {
    grid-template-columns: 1fr;
  }
}

.purchased-script .content-side .content-side-grid h4 {
  grid-column: 1;
  grid-row: 1;
}

.purchased-script .content-side .content-side-grid .grid-item-first {
  grid-column: 1;
  grid-row: 2;

  height: 28px;
  @include r.media-tablet {
    height: fit-content;
  }
  @include r.media-mobile {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
}

.purchased-script .content-side .content-side-grid .toggle-wrap {
  grid-column: 2;
  grid-row: 1 / span 2;

  width: fit-content;

  @include r.media-mobile {
    grid-column: 1;
    grid-row: 2;

    margin: 15px 0;
  }
}

.purchased-script .warning {
  margin-top: 10px;
}

.purchased-script .warning-box {
  gap: 10px;

  margin-top: 10px;
  padding: 10px;

  border-radius: 10px;
  border: 1px solid var(--grey-grey-6, #777);
  box-sizing: border-box;
  @include r.media-mobile {
    max-width: 430px;
  }
  @include r.media-small-mobile {
    gap: 5px;
  }
}

.purchased-script .warning-box.script {
  width: 292px;
  height: 40px;
}

.purchased-script .warning-box.perform {
  width: 394px;
  height: 69px;
  @include r.media-mobile {
    width: 100%;
  }
  @include r.media-small-mobile {
    width: 100%;
    height: 82px;
  }
}

.purchased-script .warning-box img {
  width: 19px;
  height: 19px;
  @include r.media-small-mobile {
    width: 16px;
    height: 16px;
  }
}

.purchased-script .warning-box.perform.warning-box-content {
  gap: 5px;
}
