@use "./../../styles/responsive.scss" as r;

.purchased-script .content-side .content-side-grid {
  display: grid;
  grid-template-columns: 1fr 197px;
  justify-content: space-between;

  width: 100%;
  @include r.media-mobile {
    grid-template-columns: 1fr 136px;
  }
  @include r.media-small-mobile {
    grid-template-columns: 1fr;
  }
}

.purchased-script .content-side .content-side-grid h4 {
  grid-column: 1;
  grid-row: 1;
}

.purchased-script .content-side .content-side-grid .toggle-wrap {
  grid-column: 2;
  grid-row: 1 / span 2;

  width: fit-content;

  @include r.media-mobile {
    grid-column: 1;
    grid-row: 2;

    margin: 15px 0;
  }
}
