@use "@/styles/responsive.scss" as r;

.preview div#selected-page {
  display: flex;
  margin: 0 auto;
  width: 1120px;
  padding: 67px 0;

  position: relative;

  background: var(--grey-grey-5, #9e9e9e);

  @include r.media-tablet {
    width: 658px;
  }

  @include r.media-mobile {
    width: 440px;
  }
}

.preview div#selected-page img#close-btn {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.preview div#background-page-wrap {
  position: absolute;
  top: 98px;
  bottom: 98px;

  width: 674px;

  @include r.media-tablet {
    width: 513px;
  }
  & {
    z-index: 10;
  }

  @include r.media-mobile {
    width: 357px;
  }
}

.preview div#background-page {
  width: 50%;
  height: 100%;
  background: var(--grey-grey-4, #bababa);
}

.preview div#selected-page div#page {
  z-index: 50;

  gap: 163px;
  @include r.media-tablet {
    gap: 46px;
  }

  @include r.media-mobile {
    gap: 20px;
  }
}

.preview div#selected-page div#page img {
  width: 60px;
  height: 60px;

  @include r.media-tablet {
    width: 35px;
    height: 56px;
  }
  @include r.media-mobile {
    width: 38px;
    height: 38px;
  }
}

.preview div#selected-page div#page div#preview-page h3#select-page {
  position: absolute;

  right: 25px;
  bottom: 21px;
}

.preview div#preview-page div#preview-last-popup {
  gap: 18px;

  position: absolute;
  left: 50%;
  transform: translate(-50%, calc(-50% - 53px));

  width: 266px;
  height: 53px;

  border-radius: 20px;
  background: var(--grey-grey-1, #fbfbfb);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
