@use "../../../styles/_responsive.scss" as r;

.list-wrap-wrap {
  width: 1280px;
  @include r.media-desktop {
    width: 1280px;
  }
  @include r.media-laptop {
    width: 1180px;
  }
  @include r.media-tablet {
    width: 670px;
  }
  @include r.media-mobile {
    width: 440px;
  }
  @include r.media-small-mobile {
    // width: 87.5vw;
    width: 100%;
  }
}
