@use "./../../components/button/mixins.scss" as m;
@use "./../../styles/responsive.scss" as r;

.detail {
  width: 1170px;
  margin: 0 auto;
  @include r.media-tablet {
    width: 698px;
  }

  @include r.media-mobile {
    width: 440px;
  }
  @include r.media-small-mobile {
    width: 290px;
  }
}
.detail .detail-wrap {
  margin: 6.5vh 0;
  margin-bottom: 5%;
}

.detail .detail-wrap .content {
  display: grid;
  grid-template-columns: 466px 682px;
  grid-template-rows: auto auto;
  column-gap: 22px;

  @include r.media-tablet {
    grid-template-columns: 425px 232px;
    grid-template-rows: 405px auto;
    column-gap: 41px;
  }

  @include r.media-mobile {
    grid-template-columns: 218px 196px;
    grid-template-rows: 210px auto;
    column-gap: 26px;
  }

  @include r.media-small-mobile {
    grid-template-columns: 126px 1fr;
    grid-template-rows: 120px auto;
    column-gap: 20px;
  }
}

.detail .detail-thumbnail-wrap {
  grid-column: 1;
  grid-row: 1 / span 2; // row 1부터 2개의 row 차지

  @include r.media-tablet {
    grid-row: 1;
    padding-left: 20px;
  }

  @include r.media-mobile {
    grid-row: 1;
    padding-left: 8px;
  }
  @include r.media-small-mobile {
    grid-row: 1;
    padding-left: 5px;

    width: 120px;
  }
}

.detail .detail-title#title {
  grid-column: 2;
  grid-row: 1;

  padding-left: 38px;

  box-sizing: border-box;
  @include r.media-tablet {
    padding-left: 0;
  }
}

.detail .like-view {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.detail .detail-title#content {
  grid-column: 2;
  grid-row: 2;

  width: 100%;
  @include r.media-tablet {
    grid-column: 1 / span 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.detail .detail-title#content ._content-detail {
  @include r.media-tablet {
    width: 682px;
  }
  @include r.media-mobile {
    width: 430px;
  }
  @include r.media-small-mobile {
    width: 280px;
  }
}

.detail .detail-title .title-wrap {
  margin-top: 11px;
  padding-left: 38px;
  @include r.media-tablet {
    padding-left: 0;
  }
  & {
    white-space: nowrap;
  }
}

.detail .detail-title hr#detail-hr-1 {
  margin: 0;
  border: 1px solid #caabff;
}

.detail .detail-title hr#detail-hr-1:nth-of-type(1) {
  margin-top: 21px;
  margin-bottom: 22px;

  @include r.media-tablet {
    margin-top: 40px;
    margin-bottom: 22px;
  }
  @include r.media-mobile {
    margin-top: 40px;
    margin-bottom: 22px;
  }
}

.detail .detail-title hr#detail-hr-1:last-child {
  margin-top: 24px;
}

.detail .detail-plot {
  padding-left: 25px;
  padding-right: 46px;
  height: 96px;

  @include r.media-tablet {
    padding: 0;
  }
  @include r.media-mobile {
    padding: 0;
  }
}

.detail .detail-price-wrap {
  padding-left: 22px;

  @include r.media-tablet {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 0;
    width: 638px;
  }
  @include r.media-mobile {
    width: 386px;
  }
  @include r.media-small-mobile {
    width: 280px;
  }
}

.detail hr#detail-hr-2 {
  margin: 22px 0;

  width: calc(100% + 2.315vh - 31px);

  border: 1px solid var(--grey-grey-5, #9e9e9e);

  @include r.media-tablet {
    width: 100%;
  }
  @include r.media-mobile {
    width: 100%;
  }
}

.detail .detail-title hr#detail-hr-3 {
  border: 1px solid var(--grey-grey-3, #e2e2e2);
}

.detail .detail-price {
  display: flex;
  align-items: center;
  gap: 17px;

  margin-left: 25px;

  @include r.media-mobile {
    margin-left: 11px;
  }
}

.detail .detail-price .price {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 74px;
}

.detail img#script {
  width: 14px;
  height: 17px;

  @include r.media-small-mobile {
    width: 10px;
    height: 12px;
  }
}

.detail img#perform {
  width: 17px;
  height: 17px;

  @include r.media-small-mobile {
    width: 13px;
    height: 13px;
  }
}

.detail .detail-price .price > p {
  margin: 0.25rem 0;

  color: #000;

  /* Paragraph/Large/Medium */
  font-family: "Noto Sans KR";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 155.556% */
  @include r.media-small-mobile {
    /* Paragraph/Small/Medium */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }
}

.detail div#detail-amount-wrap {
  margin-left: 72px;
  margin-right: 19px;

  @include r.media-mobile {
    margin-left: 30px;
  }
  @include r.media-small-mobile {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.detail div#detail-amount-wrap div#detail-amount:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: 14px;
}

.detail
  div#detail-amount-wrap
  div#detail-amount:nth-of-type(1)
  div#detail-amount-title {
  gap: 13px;
}

.detail
  div#detail-amount-wrap
  div#detail-amount:nth-of-type(1)
  div#detail-amount-price {
  gap: 31px;
}

.detail
  div#detail-amount-wrap
  div#detail-amount:nth-of-type(1)
  div#detail-amount-price
  p:nth-of-type(1) {
  margin-right: 5px;
  width: 20px;
}

.detail div#detail-amount-wrap div#detail-amount:nth-of-type(2) {
  margin-top: 11px;
  margin-bottom: 18px;
}

.detail
  div#detail-amount-wrap
  div#detail-amount:nth-of-type(2)
  div#detail-amount-title {
  gap: 10px;
}

.detail
  div#detail-amount-wrap
  div#detail-amount:nth-of-type(2)
  div#detail-amount-price
  p:nth-of-type(1) {
  margin: 0 10px;
}

.detail #detail-amount-wrap .price-wrapper {
  gap: 39px;

  @include r.media-tablet {
    gap: 20px;
  }
}

.detail #detail-amount-wrap .price-wrapper img {
  @include r.media-small-mobile {
    width: 16px;
    height: 16px;
  }
}

.detail
  div#detail-amount-wrap
  div#detail-amount
  div#detail-amount-price
  p#price {
  margin: 0;
  margin-left: 1.406vw;

  min-width: 84px;
  text-align: right;
}

.detail .total-price {
  padding-left: 25px;
  margin-right: 14px;

  @include r.media-mobile {
    padding: 0 13px;
    margin-right: 0px;
  }
}

.detail div#total-price-won {
  gap: 7px;
}

.detail .select-amount-wrap {
  padding-left: 25px;
  @include r.media-small-mobile {
    padding-left: 10px;
  }
}

.detail div#info-wrap {
  position: relative;
  width: 13.021vw;
}

.detail img#info-btn {
  margin-left: 9px;

  width: 20px;
  height: 20px;

  @include r.media-small-mobile {
    width: 16px;
    height: 16px;
  }
}

.detail .option-select {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 23px;
  margin-right: 15px;
  padding-left: 25px;

  @include r.media-tablet {
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  @include r.media-mobile {
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 13px;
  }
  @include r.media-small-mobile {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* select 공용 설정 */
.detail .option-select select,
.detail .detail-bottom-bar select {
  border-radius: 9px;
  border: 1px solid var(--grey-grey-4, #bababa);
  background: #fff;

  text-align: center;

  /* 화살표 커스텀 */
  /* Remove default arrow */
  appearance: none;
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */

  /* Add custom arrow */
  background-image: url("./../../assets/image/post/selectArrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 1.25rem;
}

.detail .option-select select:focus,
.detail .detail-bottom-bar select:focus {
  outline: none;
  border-color: #000;
}

.detail .option-select select {
  width: 100%;
  height: 48px;
}

.detail .detail-btn-wrap {
  display: flex;
  gap: 14px;

  margin-top: 1.852vh; /* 20px */
  padding: 0 25px;
}

.detail .detail-btn-wrap button,
.detail .detail-bottom-bar button {
  height: 3rem;

  border-radius: 9px;
  border: 1px solid var(--Main, #9591f2);

  cursor: pointer;

  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.detail .detail-btn-wrap button {
  flex: 1;

  @include r.media-small-mobile {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
  }
}

/*
.detail .detail-btn-wrap button#cart-btn,
.detail .detail-bottom-bar button#cart-btn {
  background: #fdfaff;
  color: #333;
}
  */

.detail .detail-btn-wrap button#purchase-btn,
.detail .detail-bottom-bar button#purchase-btn {
  @include m.purple-btn;

  background: var(--Main, #9591f2);

  color: #fdfaff;
}

.detail .detail-btn-wrap button#purchase-btn:disabled,
.detail .detail-bottom-bar button#purchase-btn:disabled {
  border: none;
  background: #bababa;
  color: white;
  cursor: default;
}

.detail .detail-btn-wrap button#purchase-btn {
  height: 3.75rem;
  @include r.media-small-mobile {
    height: 48px;
  }
}

.detail .detail-description hr {
  margin: 12.5vh 0;
  border: 1px solid #e2e2e2;
}

.detail .detail-bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  margin-top: 2em;
  padding-left: 20.286vw;
  padding-right: 17vw;
  @include r.media-desktop {
    padding-left: 20.286vw;
    padding-right: 17vw;
  }
  @include r.media-laptop {
    padding-left: 7.93vw; /* 101.5px */
    padding-right: 7.969vw; /* 102px */
  }
  @include r.media-tablet {
    padding-left: 55.5px;
    padding-right: 55px;
  }
  @include r.media-mobile {
    padding-left: 30.5px;
    padding-right: 30px;
  }
  & {
    max-width: 100vw;
    height: 9.259vh;

    box-sizing: border-box;
    background: var(--puple-puple1, #f4f2ff);

    z-index: 1000;
    overflow-x: hidden;
  }
}

.detail .detail-description hr {
  margin: 0;
  border-color: #caabff;
}

.detail .detail-description hr:nth-of-type(1) {
  margin-top: 3.7svh;
  margin-bottom: 2.7svh;
}

.detail .detail-description hr:nth-of-type(2) {
  margin-top: 3.704vh;
  margin-bottom: 3.889vh;
}

.detail .script-intention p {
  padding-right: 75px;
  @include r.media-laptop {
    padding-right: 40px;
  }
}

.detail .detail-description p#preview-title {
  margin-left: 1.852vh;
  margin-bottom: 2.593vh;
}

.detail .review-write-btn img {
  @include r.media-small-mobile {
    width: 9px;
    height: 14px;
  }
}

.detail .bottom-bar-left,
.detail .bottom-bar-right {
  display: flex;
  align-items: center;
}

.detail .bottom-bar-left h4 {
  margin: 0;
  margin-left: 0.5rem;

  min-width: 7rem;
  text-align: right;
}

.detail .bottom-bar-right {
  flex-grow: 1;
  @include r.media-mobile {
    flex-grow: 0;
  }
}

.detail .detail-bottom-bar select {
  margin-left: auto;
  margin-right: 1.5vw;

  width: 460px;
  height: 5.556vh;
  @include r.media-tablet {
    width: 220px;
  }
  @include r.media-mobile {
    display: none;
  }
}

.detail .detail-bottom-bar button {
  width: 195px;
  height: 5.556vh;

  font-size: 1.852vh;
  @include r.media-tablet {
    width: 159px;
  }
}
