@import "./../../components/button/mixins.scss";

.post-work .post-work-wrap {
  display: flex;
  height: 93vh;
}

.post-work .left-side {
  flex: 0.85;
}

.post-work .right-side {
  flex: 1.15;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.post-work .inside-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 16.111vh;
  margin-right: 3.5%;

  height: 83.5%;
}

.post-work .title h1 {
  color: #000;

  /* H1/Bold */
  font-family: "Noto Sans KR";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem; /* 122.222% */
}

.post-work .upload-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 2%;
}

.post-work .upload-title h6 {
  color: #000;

  /* H5/Bold */
  font-family: "Noto Sans KR";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 140% */
}

.post-work .upload-title img {
  width: 1.75rem;
  cursor: pointer;
}

.post-work .inside-field button#upload-btn {
  @include purple-btn;

  width: 100%;
  height: 3.125rem;

  margin-top: 4%;
  margin-bottom: 8vh;
  padding: 10px 25px;

  border: none;
  border-radius: 1.875rem;
  background: var(--Main, #6a39c0);

  cursor: pointer;

  color: #fff;
  text-align: center;

  /* Paragraph/Large/Bold */
  font-family: "Noto Sans KR";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 155.556% */
}

.post-work .inside-field button#upload-btn:disabled {
  background: var(--Sub-2, #dadada);
  cursor: default;
}
