.popup {
  /* jsx 코드에 style 정의된 상태 */
  position: absolute;
  width: 293px;
  cursor: move;

  background: #f4f2ff;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-radius: 5px;

  z-index: 1000;
}

.popup .close-button {
  position: absolute;
  top: 3%;
  right: 3%;
  background: none;
  border: none;
  cursor: pointer;
}

.popup .popup-content {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;

  margin: 15px;
}
