@use "./../../styles/_responsive.scss" as r;

.policy-bar div#policy-box {
  margin-top: 51.5px;
  padding: 1px 0;

  width: 66.5rem;
  @include r.media-laptop {
    width: clamp(688px, 55.417vw, 66.5rem);
  }
  @include r.media-tablet {
    width: 688px;
  }
  @include r.media-mobile {
    width: 440px;
  }
  @include r.media-small-mobile {
    width: 280px;
  }
  & {
    border: 1px solid var(--grey-grey7, #3c3c3c);
  }
}
