.purchase-checkbox {
  gap: 0.87rem;
  margin-top: 1.12rem;
}

.purchase-checkbox div#checkbox-content {
  position: relative;
  gap: 0.62rem;
}

.purchase-checkbox div#checkbox-content img#checkbox {
  width: 20px;
  height: 20px;
}
