@use "./../_mixins.scss" as m;

.__round-btn__#white {
  @include m.white-btn;

  border: 2.5px solid var(--Main, #6a39c0);
  color: var(--Main, #6a39c0);
}

.__round-btn__#grey {
  border: none;
  background: #d9d9d9;
  color: #fff;
}

.__round-btn__#purple {
  @include m.purple-btn;

  border: none;
  background: var(--Main, #6a39c0);
  color: #fff;
}

.__round-btn__#purple:disabled {
  background-color: #dadada;
}

.__round-btn__#dark_mode {
  border: 3px solid rgba(242, 242, 242, 0.9);
  background: none;

  transition: background-color 0.125s ease, color 0.125s ease,
    border-color 0.125s ease;

  &:not(:disabled):hover {
    background-color: rgba(242, 242, 242, 0.326);
  }

  &:not(:disabled):active {
    background-color: rgba(242, 242, 242, 0.782);
    border-color: rgba(242, 242, 242, 0.782);
  }
}
