@use "./../../styles/_responsive.scss" as r;
@use "./../../components/button/_mixins.scss" as m;

.BottomBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BottomBtn .bottomButton {
  @include m.purple-btn;

  width: 25.875rem;
  height: 3.75rem;

  border: none;
  border-radius: 0.5625rem;
  background: var(--Main, #6a39c0);

  cursor: pointer;

  color: #fff;

  // /* Paragraph/Large/Bold */
  // font-size: 1.125rem;
  // font-style: normal;
  // font-weight: 700;
  // line-height: 1.75rem; /* 155.556% */

  @include r.media-small-mobile {
    height: 48px;
    width: 100%;
  //   /* Paragraph/Medium/Bold */
  //   font-size: 16px;
  //   font-style: normal;
  //   font-weight: 700;
  //   line-height: 24px; /* 150% */
  }
}

.BottomBtn .bottomButton:disabled {
  cursor: default;
  background-color: #dadada;
  color: #fff;
}
