.Box {
  display: flex;
  justify-content: center;
}

.Box .Box-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 500px;
  height: 477px;
  flex-shrink: 0;

  border-radius: 1.875rem;
  border: 3px solid var(--Main, #6a39c0);
}
