.purchase-summary-box {
  width: 414px;
  height: 199px;

  border-radius: 42px;
  border: 1px solid #fff;
  background: var(--purple-purple-10, #f5f0ff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  backdrop-filter: blur(5px);

  padding-top: 23px;
  padding-left: 28.47px;
  padding-bottom: 21.69px;
}

.purchase-summary-box hr {
  margin-right: 13px;
  border: 1px solid #caabff;
}

.purchase-summary-box .price-wrap {
  display: flex;
  gap: 1rem;

  margin-top: 5.61px;
  margin-right: 27px;
  padding-left: 1rem;
}

.purchase-summary-box .price-wrap.left-padding {
  padding-left: 10px;
}

.purchase-summary-box .price-wrap p:last-child {
  /* 오른쪽 정렬 */
  margin-left: auto;
}
