.purchase-summary-box {
  width: 414px;
  height: 199px;

  border-radius: 42px;
  border: 1px solid #fff;
  background: var(--purple-purple-10, #f5f0ff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  backdrop-filter: blur(5px);

  padding-top: 23px;
  padding-left: 28.47px;
  padding-bottom: 21.69px;
}

.purchase-summary-box hr {
  border: 1px solid #caabff;
}

.purchase-summary-box .price-wrap {
  display: flex;
  gap: 1rem;

  padding-left: 1rem;
  margin-right: 27px;
}

.purchase-summary-box .price-wrap p {
  margin: 0;
  margin-top: 5.61px;
  color: #000;

  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.purchase-summary-box .price-wrap p:last-child {
  /* 오른쪽 정렬 */
  margin-left: auto;
}

.purchase-summary-box .price-wrap:last-child p {
  font-size: 18px;
  line-height: 28px;
}
