@use "./../../../button/_mixins.scss" as m;

.AuthInsideBtn {
  position: absolute;
  right: -1.25rem;
}

.AuthInsideBtn .insideButton {
  @include m.purple-btn;

  width: 4.75rem;
  height: 2.75rem;
  flex-shrink: 0;
  border: none;

  border-radius: 0.5625rem;
  background: var(--Main, #6a39c0);

  cursor: pointer;

  color: #fff;

  /* Paragraph/Medium/Meidium */
  font-family: "Noto Sans KR";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}

.AuthInsideBtn .insideButton:disabled {
  cursor: default;
  background-color: #dadada;
  color: white;
}
