@use "./../../../button/_mixins.scss" as m;
@use "./../../../../styles/_responsive.scss" as r;

.AuthInsideBtn {
  position: absolute;
  right: 0px;

  z-index: 1;
}

.AuthInsideBtn .insideButton {
  @include m.purple-btn;

  width: 4.75rem;
  height: 2.75rem;
  flex-shrink: 0;
  border: none;

  border-radius: 0.5625rem;
  background: var(--Main, #6a39c0);

  cursor: pointer;

  color: #fff;

  /* Paragraph/Medium/Medium */
  font-family: "Noto Sans KR";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  @include r.media-small-mobile {
    width: 50px;
    height: 32px;

    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
  }
}

.AuthInsideBtn .insideButton:disabled {
  cursor: default;
  background-color: #dadada;
  color: white;
}
